registry=https://editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/registry/
always-auth=true

; begin auth token
//editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/registry/:username=editorati
//editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/registry/:_password=[dW1tNjNudG91cDVmaDc0ZXdhbWJ2eDNncGtiZ25udTNnNGc3YWFoZzU2dGRybnBjN2l6cQ==]
//editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/registry/:email=matheuskindrazki@gmail.com
//editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/:username=editorati
//editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/:_password=[dW1tNjNudG91cDVmaDc0ZXdhbWJ2eDNncGtiZ25udTNnNGc3YWFoZzU2dGRybnBjN2l6cQ==]
//editorati.pkgs.visualstudio.com/_packaging/psdlabs/npm/:email=matheuskindrazki@gmail.com
; end auth token